#grid {
    --field-name-width: 100px;
    --field-age-width: 65px;
    --field-sex-width: 65px;
    --field-address-width: 200px;
    width: calc(var(--field-name-width) + var(--field-age-width) + var(--field-sex-width) + var(--field-address-width));
    height: 440px;
    border-radius: 4px;
}

#grid .field-name {
    width: var(--field-name-width);
}

#grid .field-age {
    width: var(--field-age-width);
}

#grid .field-sex {
    width: var(--field-sex-width);
}

#grid .field-address {
    width: var(--field-address-width);
}