
#grid {
    --field-name-width: 100px;
    --field-age-width: 40px;
    --field-sex-width: 80px;
    --field-address-width: 200px;
}

    
#grid .field-name {
    width: var(--field-name-width);
}

#grid .field-age {
    width: var(--field-age-width);
}

#grid .field-sex {
    width: var(--field-sex-width);
}

#grid .field-address {
    width: var(--field-address-width);
}
